<style type="text/css">
  body{
   margin-left: 35px;
   margin-right: 35px;
  }
  .actions{
    text-align: center;
  }
  .other-buttons{
    text-align: center;
  }
</style>
<br/>

<h2 class="page-title">Log in</h2>

<br />
<br />
<br />

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :password %><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <% if devise_mapping.rememberable? -%>
    <div class="field">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div>
  <% end -%>

  <div class="actions">
    <%= f.submit "Log in", :class => "button" %>
  </div>
<% end %>

<div class="other-buttons">
<%= render "devise/shared/links" %>
</div>